.u-section-1 .u-sheet-1 {
  min-height: 259px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: Poppins;
  margin: 44px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-family: Poppins;
  margin: 43px 0 33px;
}.u-section-2 .u-sheet-1 {
  min-height: 280px;
}

.u-section-2 .u-tabs-1 {
  min-height: 279px;
  height: auto;
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-2 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-pane-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 20px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Poppins;
  margin: 0 auto 0 5px;
}

.u-section-2 .u-line-1 {
  transform-origin: left center 0px;
  width: 1080px;
  margin: 6px auto 0 0;
}

.u-section-2 .u-image-1 {
  width: 185px;
  height: 240px;
  margin: 21px auto 0 5px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Poppins;
  margin: 29px auto 0 5px;
}

.u-section-2 .u-line-2 {
  transform-origin: left center 0px;
  width: 1080px;
  margin: 7px auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 281px;
  height: 238px;
  margin: 45px auto 0 0;
}

.u-section-2 .u-image-3 {
  width: 295px;
  height: 249px;
  margin: -249px auto 0 310px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Poppins;
  margin: 58px auto 0 5px;
}

.u-section-2 .u-line-3 {
  transform-origin: left center 0px;
  width: 1080px;
  margin: 5px auto 0 0;
}

.u-section-2 .u-image-4 {
  width: 186px;
  height: 239px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-image-5 {
  width: 208px;
  height: 242px;
  margin: -242px auto 0 215px;
}

.u-section-2 .u-image-6 {
  width: 196px;
  height: 240px;
  margin: -242px auto 0 442px;
}

.u-section-2 .u-image-7 {
  width: 192px;
  height: 243px;
  margin: -243px 281px 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Poppins;
  margin: 34px auto 0 5px;
}

.u-section-2 .u-line-4 {
  transform-origin: left center 0px;
  width: 1080px;
  margin: 5px auto 0 0;
}

.u-section-2 .u-image-8 {
  width: 204px;
  height: 243px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-image-9 {
  width: 204px;
  height: 249px;
  margin: -249px auto 0 231px;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Poppins;
  margin: 45px auto 0 5px;
}

.u-section-2 .u-line-5 {
  transform-origin: left center 0px;
  width: 1080px;
  margin: 5px auto 0 0;
}

.u-section-2 .u-image-10 {
  width: 246px;
  height: 245px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-image-11 {
  width: 180px;
  height: 239px;
  margin: -239px auto 0 270px;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Poppins;
  margin: 36px auto 0 5px;
}

.u-section-2 .u-line-6 {
  transform-origin: left center 0px;
  width: 1080px;
  margin: 5px auto 0 0;
}

.u-section-2 .u-image-12 {
  width: 404px;
  height: 286px;
  margin: 5px auto 0 -3px;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Poppins;
  margin: 20px auto 0 5px;
}

.u-section-2 .u-line-7 {
  transform-origin: left center 0px;
  width: 1080px;
  height: 3px;
  margin: 5px auto 0 0;
}

.u-section-2 .u-image-13 {
  width: 210px;
  height: 239px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Poppins;
  margin: 20px auto 0 5px;
}

.u-section-2 .u-line-8 {
  transform-origin: left center 0px;
  width: 1080px;
  height: 3px;
  margin: 5px auto 0 0;
}

.u-section-2 .u-image-14 {
  width: 207px;
  height: 248px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Poppins;
  margin: 20px auto 0 5px;
}

.u-section-2 .u-line-9 {
  transform-origin: left center 0px;
  width: 1080px;
  height: 3px;
  margin: 5px auto 0 0;
}

.u-section-2 .u-image-15 {
  width: 197px;
  height: 246px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-tab-pane-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 31px;
}

.u-section-2 .u-text-10 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Poppins;
  font-size: 1.25rem;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-family: Poppins;
  background-image: none;
  font-weight: 700;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-container-layout-1 {
    padding-top: 20px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 10px;
  }

  .u-section-2 .u-line-1 {
    width: 940px;
  }

  .u-section-2 .u-line-2 {
    width: 940px;
  }

  .u-section-2 .u-line-3 {
    width: 940px;
  }

  .u-section-2 .u-image-7 {
    margin-top: -241px;
    margin-right: 74px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 56px;
    margin-left: 10px;
  }

  .u-section-2 .u-line-4 {
    width: 940px;
    margin-right: -5px;
    margin-left: 5px;
  }

  .u-section-2 .u-image-8 {
    margin-left: 5px;
  }

  .u-section-2 .u-image-9 {
    margin-left: 236px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-left: 10px;
  }

  .u-section-2 .u-line-5 {
    width: 940px;
    margin-right: -5px;
    margin-left: 5px;
  }

  .u-section-2 .u-image-10 {
    margin-left: 5px;
  }

  .u-section-2 .u-image-11 {
    margin-left: 275px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 56px;
    margin-left: 6px;
  }

  .u-section-2 .u-line-6 {
    width: 940px;
    margin-left: 1px;
  }

  .u-section-2 .u-image-12 {
    margin-left: -24px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 45px;
    margin-left: 13px;
  }

  .u-section-2 .u-line-7 {
    width: 940px;
    margin-top: 4px;
    margin-left: 3px;
  }

  .u-section-2 .u-image-13 {
    margin-top: 31px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-left: 13px;
  }

  .u-section-2 .u-line-8 {
    width: 940px;
    margin-left: 8px;
  }

  .u-section-2 .u-image-14 {
    margin-left: 8px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 36px;
  }

  .u-section-2 .u-line-9 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-line-1 {
    width: 720px;
  }

  .u-section-2 .u-line-2 {
    width: 720px;
  }

  .u-section-2 .u-line-3 {
    width: 720px;
  }

  .u-section-2 .u-image-7 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 8px;
  }

  .u-section-2 .u-line-4 {
    width: 720px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-8 {
    margin-left: 0;
  }

  .u-section-2 .u-line-5 {
    width: 720px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-10 {
    margin-left: 0;
  }

  .u-section-2 .u-image-11 {
    margin-left: auto;
  }

  .u-section-2 .u-text-6 {
    margin-left: 7px;
  }

  .u-section-2 .u-line-6 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-12 {
    margin-left: 0;
  }

  .u-section-2 .u-line-7 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-2 .u-line-8 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-2 .u-image-14 {
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-line-2 {
    width: 540px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 20px;
    margin-left: 245px;
  }

  .u-section-2 .u-line-3 {
    width: 540px;
  }

  .u-section-2 .u-image-6 {
    margin-top: 20px;
    margin-left: 344px;
  }

  .u-section-2 .u-line-4 {
    width: 540px;
  }

  .u-section-2 .u-line-5 {
    width: 540px;
  }

  .u-section-2 .u-image-11 {
    margin-left: 275px;
  }

  .u-section-2 .u-line-6 {
    width: 540px;
  }

  .u-section-2 .u-image-12 {
    margin-left: -1px;
  }

  .u-section-2 .u-line-7 {
    width: 540px;
  }

  .u-section-2 .u-line-8 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1rem;
    margin-top: 0;
  }

  .u-section-2 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    width: 117px;
    height: 151px;
    margin-top: 22px;
    margin-left: 65px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 30px;
    margin-right: 1px;
  }

  .u-section-2 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    width: 122px;
    height: 140px;
    margin-top: 38px;
  }

  .u-section-2 .u-image-3 {
    width: 137px;
    height: 134px;
    margin-top: -140px;
    margin-right: 6px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-top: 54px;
  }

  .u-section-2 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-4 {
    width: 107px;
    height: 138px;
    margin-left: 5px;
  }

  .u-section-2 .u-image-5 {
    width: 118px;
    height: 138px;
    margin-top: -138px;
    margin-right: 2px;
    margin-left: auto;
  }

  .u-section-2 .u-image-6 {
    width: 112px;
    height: 138px;
    margin-top: 53px;
    margin-left: 5px;
  }

  .u-section-2 .u-image-7 {
    width: 109px;
    height: 138px;
    margin-top: -138px;
    margin-right: 18px;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
    margin-top: 40px;
  }

  .u-section-2 .u-line-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-8 {
    width: 115px;
    height: 138px;
    margin-top: 34px;
    margin-left: 4px;
  }

  .u-section-2 .u-image-9 {
    width: 113px;
    height: 138px;
    margin-top: -138px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
    margin-top: 42px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-line-5 {
    margin-top: 7px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-10 {
    width: 138px;
    height: 138px;
    margin-top: 42px;
    margin-left: 2px;
  }

  .u-section-2 .u-image-11 {
    width: 103px;
    height: 138px;
    margin-top: -138px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
    margin-top: 48px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-2 .u-line-6 {
    width: 246px;
    margin-right: auto;
  }

  .u-section-2 .u-image-12 {
    height: 138px;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
    margin-top: 50px;
    margin-left: 5px;
  }

  .u-section-2 .u-line-7 {
    transform-origin: right center 0px;
    width: 246px;
    margin-left: auto;
  }

  .u-section-2 .u-image-13 {
    width: 121px;
    height: 138px;
    margin-top: 30px;
    margin-left: auto;
  }

  .u-section-2 .u-text-8 {
    font-size: 1rem;
    margin-top: 21px;
    margin-left: 7px;
  }

  .u-section-2 .u-line-8 {
    width: 249px;
    margin-left: auto;
  }

  .u-section-2 .u-image-14 {
    width: 115px;
    height: 138px;
    margin-top: 35px;
    margin-left: auto;
  }

  .u-section-2 .u-text-9 {
    font-size: 1rem;
    margin-top: 31px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-2 .u-image-15 {
    width: 110px;
    height: 138px;
    margin-top: 17px;
    margin-left: 65px;
  }
}
